hr{
	background-color: #F8F9FA !important;
}

.auth-screen{
	background-color: #f05403 !important;
}

.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: #f05403 !important;
}

.navbar-brand{
	width: 50%;
}

.comment img {
  width: auto;
  height: auto;
  border-radius: 0;
  margin-right: 15px;
}

.avatar{
  width: 50px !important;
  height: 50px !important;
}