# Server Configuration
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=dabaat_db
DB_PORT=3306

# SMTP Configuration
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASSWORD=your-email-password
SMTP_SECURE=false

# Security Keys
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=1h

#Admin Email
ADMIN_EMAIL=email@email.com